table{
	background-color:#EEF7FD;	
}
/*head style*/
.head td{ 
	background-color: black;
	color: white;
	border: 1px solid white;
	font-size:18px;
}
.head td a {
    color:white;
  text-decoration: none;
}
/* inside main heading h1 tag */
#H1{
	
	background-image: url("../img/5.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
    height:300px;
	text-align:left;
	padding-left:20px;
	padding-top:60px;
}
/*choose us img and paragraph*/
.img1 td img{
	width:80%;
	height:300px;
}
.img1 td p{
    font-size:20px;
}
/*chhose us and achivements heading*/
.heading td h1{
	padding-top:10px;
	text-align:center;
	font-size:40px;
}
/*achievement paragraph*/
.para td p{
	font-size:18px;
	padding-left:10px;
	padding-right:10px;
}
/*our journey heading*/
.heading td h2{
	padding-top:20px;
	font-size:35px;
	padding-left:10px;
}
/*our journey and join us paragraph*/
.journey td p{
	padding-left:10px;
	padding-bottom:10px;
	font-size:18px;
}
/*our journey and join us img*/
.journey td img {
	width:80%;
	height:250px;
}
/*join us heading*/
.header td h1 {
	text-align:center;
}
.header td span {
	color:#01F9C6;
}
/*footer*/
.footer td {
	background-color: black;
	color: white;
	padding:20px 20px;
}
.footer td ul a {
	color:white;
    text-decoration: none;
}
.footer td ul li {
	text-align:center;
	 padding-bottom: 10px;
}
.footer td p {
	text-align:center;
	padding-left:80px;
}
.footerlog td p{
	background-color: black;
	text-align:center;
	color:white;
	padding-bottom:20px;
}
 
